body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
	position: relative;
}

#nav{
	background-color: none;
}

#nav a{
	color: black;
	font-family: 'Orbitron', sans-serif;
	font-size: 24px;
}

#jumbotron {
	background: transparent;
	color: black;
}

.jumbotron h1 {
	padding: 6px;
	display: inline;
	background-color: black;
	font-family: 'Orbitron', sans-serif;
}

#page-header{
	text-align: center;
	background: transparent;
	color: black;
	margin: 20px 0 12px;
	font-size: 50px;

}

.page-header h1{
	padding: 6px;
	display: inline;
	background-color: #EEEEEE;
	font-family: 'Orbitron', sans-serif;
	font-size: 50px;

}

.carousel img {
	min-width: 100%;
	max-height:
}

#profile {
	background-color: transparent;
	margin-top: 100px;
	/*margin-bottom: 100px;*/
	padding-top: 20px;
}

#profile h1 {
	margin-bottom: 30px;
	padding: 18px;
	color: black;
	background-color: white;
	/*display: inline;*/
	font-family: 'Orbitron', sans-serif;
	font-size: 60px;
	box-shadow: 10px 10px 5px;

}

#profile h1 span{
	padding: 10px;
	padding-bottom: 0px;
	background-color: #EEEEEE;
}

#profile h2{

	display: inline;
	background-color: #EEEEEE;
	color: black;
	font-family: 'Orbitron', sans-serif;
	box-shadow: 10px 10px 5px;

}

#profile h2 span{
	padding: 10px;
	padding-bottom: 0px;
	background-color: #EEEEEE;
}

#profile .intro{
	/*margin-top: 50px;*/
	/*margin-bottom: 50px;*/
}

#profile .center{
	text-align: center;
}

.padded-multiline { 
  	/*line-height: 1.3; */
  	padding: 2px 0; 
  	/*margin: 20px auto;*/

}

#profile .padded-multiline p{
	/*background-color: #EEEEEE;*/
	color: black;
	/*font-family: 'Droid Serif', serif;*/
	font-family: 'Orbitron', sans-serif;
	font-size: 20px;
	/*text-align: left;*/
	padding: 4px 0;
	display: block;
	right: -10px;
  	/*margin: 0;*/
  	/*text-shadow: 1.5px 1px 1px grey;*/
}

#profile .padded-multiline p span{
	padding: 2px;
	display:block;
	position:relative;
	background-color: #EEEEEE;
	/*text-align: left;*/
  	left: -10px;
  	box-shadow: 5px 5px black;
  	overflow: auto;
}

#profile img{
	padding-top: 43px;
	padding-bottom: 40px;

}

#tech {
	padding-top: 90px;
}

#tech h1{
	margin-top: 30px;
	color: black;
	display: inline;
	background-color: #EEEEEE;
	font-family: 'Orbitron', sans-serif;
}

#tech h1 span{
	padding: 10px;
	padding-bottom: 0px;
}

#skills{
	padding-top: 70px;

}

#skills .center{
	text-align: center;
}

#skills h1 {
	padding: 18px;
	margin-top: 20px;
	margin-bottom: 30px;
	color: black;
	background-color: #EEEEEE;
	font-family: 'Orbitron', sans-serif;
	font-size: 60px;
	box-shadow: 10px 10px 5px;

}

#skills h2 span{
	padding: 10px;
	margin-top: 30px;
	margin-bottom: 40px;
	color: black;
	display: inline;
	background-color: #EEEEEE;
	font-family: 'Orbitron', sans-serif;
	box-shadow: 10px 10px 5px;

}


#skills p span{
	margin-top: 10px;
	margin-bottom: 40px;
	/*margin-right: 40px;*/
	padding: 10px;
	display: inline-flex;
	font-size: 24px;
	color: #D9CB81;
	background-color: rgb(0,131,80);
	box-shadow: 10px 10px 5px black;
	text-shadow: 0.2px 0.5px black;


}

#create .header{
	margin-top: 90px;
	margin-bottom: 60px;
}

#create h2 span{
	padding: 10px;
	margin-top: 30px;
	color: #B39700;
	background-color: rgb(0,131,80);
	display: inline;
	font-family: 'Orbitron', sans-serif;
}

#create li span{
	padding: 10px;
	margin-top: 30px;
	color: #B39700;
	background-color: rgb(0,131,80);
	display: inline;
	font-family: 'Orbitron', sans-serif;
}

#create form{
	margin-top: 20px;
}

#create p{
	padding: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
	color: #B39700;
	background-color: rgb(0,131,80);
	display: inline;
	font-family: 'Orbitron', sans-serif;
}

#blog{
	padding-top: 70px;
}

#blog h1{
	padding: 18px;
	margin-top: 20px;
	margin-bottom: 30px;
	color: black;
	background-color: #EEEEEE;
	font-family: 'Orbitron', sans-serif;
	font-size: 60px;
	box-shadow: 10px 10px 5px;
}

#blog .center{
	text-align: center;
}

#blog h2{
	/*margin:auto;*/
	margin-top: 20px;
	/*line-height: 1.3; */
  	padding: 2px 0; 
  	/*border-left: 20px solid rgb(0,131,80);*/
  	/*width: 400px;*/
  	/*margin: 20px auto;*/
}

#blog h2 span{
	padding: 7px 0;
	margin-top: 30px;
	color: #D9CB81;
	background-color: rgb(0,131,80);
	display: inline;
	font-family: 'Orbitron', sans-serif;
  	text-shadow: 1px 1px black;
}

#blog h2 span a{
	padding: 7px;
	margin-top: 30px;
	color: #D9CB81;
	background-color: rgb(0,131,80);
	display: inline;
	font-family: 'Orbitron', sans-serif;
	position: relative;
  	left: -10px; 
  	right: -10px;
}

#blog .post-body{
	padding: 10px;
	margin-top: 30px;
	color: black;
	background-color: white;
	display: block;
	/*font-family: 'Bodoni';*/
	/*font-size: 22px;*/
	margin-bottom: 30px;
}


#blog h5{
	margin-top: 20px;
}

#blog h5 span{
	padding: 10px;
	margin-top: 30px;
	color: black;
	background-color: white;
	display: inline;
	font-family: 'Orbitron', sans-serif;
	box-shadow: 10px 10px 5px;
}

#blog a{
	color: black;
}

#blog img{
	/*display: */
	margin:auto;
	box-shadow: 10px 10px 5px black;
}

.navbar-brand {
	font-family: 'Orbitron', sans-serif;
	color: black;
	font-size: 26px;
	
}





