body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
	position: relative;
}

.full{
	background: url("../images/21macEdit.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#nav{
	background-color: white;
}

#nav a{
	color: black;
	font-family: 'Orbitron', sans-serif;
	font-size: 18px;
}

#jumbotron {
	background: transparent;
	color: black;
}

.jumbotron h1 {
	padding: 6px;
	display: inline;
	background-color: black;
	font-family: 'Orbitron', sans-serif;
}

#page-header{
	text-align: center;
	background: transparent;
	color: black;
	margin: 20px 0 12px;
	font-size: 50px;

}

.page-header h1{
	padding: 6px;
	display: inline;
	background-color: #EEEEEE;
	font-family: 'Orbitron', sans-serif;
	font-size: 50px;

}

.carousel img {
	min-width: 100%;
	max-height:
}

#profile {
	background-color: transparent;
	margin-top: 100px;
	margin-bottom: 100px;
	padding-top: 20px;
}

#profile h1 {
	margin-bottom: 30px;
	padding: 18px;
	color: black;
	background-color: white;
	/*display: inline;*/
	font-family: 'Orbitron', sans-serif;
	font-size: 60px;
}

#profile h1 span{
	padding: 10px;
	padding-bottom: 0px;
	background-color: #EEEEEE;
}

#profile h2{

	display: inline;
	background-color: #EEEEEE;
	color: black;
	font-family: 'Orbitron', sans-serif;
}

#profile h2 span{
	padding: 10px;
	padding-bottom: 0px;
	background-color: #EEEEEE;
}

#profile .intro{
	margin-top: 50px;
	margin-bottom: 50px;
}

#profile .center{
	text-align: center;
}

#profile p{
	/*display: inline;*/
	background-color: #EEEEEE;
	color: black;
	font-family: 'Droid Serif', serif;
	font-size: 20px;
	overflow-x: scroll;
}

#profile p span{
	padding: 10px;
}

#profile img{
	padding-top: 43px;
	padding-bottom: 40px;

}

#tech {
	padding-top: 90px;
}

#tech h1{
	margin-top: 30px;
	color: black;
	display: inline;
	background-color: #EEEEEE;
	font-family: 'Orbitron', sans-serif;
}

#tech h1 span{
	padding: 10px;
	padding-bottom: 0px;
}

#skills{
	padding-top: 70px;

}

#skills .center{
	text-align: center;
}

#skills h1 {
	padding: 18px;
	margin-top: 20px;
	margin-bottom: 30px;
	color: black;
	background-color: #EEEEEE;
	font-family: 'Orbitron', sans-serif;
	font-size: 60px;
}

#skills h2 span{
	padding: 10px;
	margin-top: 30px;
	margin-bottom: 40px;
	color: black;
	display: inline;
	background-color: #EEEEEE;
	font-family: 'Orbitron', sans-serif;
}


#skills p span{
	margin-top: 10px;
	margin-bottom: 40px;
	margin-right: 40px;
	padding: 10px;
	display: inline-flex;
	font-size: 18px;
	color: #D9CB81;
	background-color: rgb(0,131,80);
}

#create .header{
	margin-top: 90px;
	margin-bottom: 60px;
}

#create h2 span{
	padding: 10px;
	margin-top: 30px;
	color: #B39700;
	background-color: rgb(0,131,80);
	display: inline;
	font-family: 'Orbitron', sans-serif;
}

#create li span{
	padding: 10px;
	margin-top: 30px;
	color: #B39700;
	background-color: rgb(0,131,80);
	display: inline;
	font-family: 'Orbitron', sans-serif;
}

#create form{
	margin-top: 20px;
}

#create p{
	padding: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
	color: #B39700;
	background-color: rgb(0,131,80);
	display: inline;
	font-family: 'Orbitron', sans-serif;
}

#blog{
	padding-top: 70px;
}

#blog h1{
	padding: 18px;
	margin-top: 20px;
	margin-bottom: 30px;
	color: black;
	background-color: #EEEEEE;
	font-family: 'Orbitron', sans-serif;
	font-size: 60px;
}

#blog .center{
	text-align: center;
}

#blog h2 span{
	padding: 10px;
	margin-top: 30px;
	color: #B39700;
	background-color: rgb(0,131,80);
	display: inline;
	font-family: 'Orbitron', sans-serif;
}

#blog p span{
	padding: 10px;
	margin-top: 30px;
	color: #B39700;
	background-color: rgb(0,131,80);
	display: inline;
	font-family: 'Orbitron', sans-serif;
}

#blog h2 span a{
	padding: 10px;
	margin-top: 30px;
	color: #B39700;
	background-color: rgb(0,131,80);
	display: inline;
	font-family: 'Orbitron', sans-serif;
}

#blog h5 span{
	padding: 10px;
	margin-top: 30px;
	color: #B39700;
	background-color: rgb(0,131,80);
	display: inline;
	font-family: 'Orbitron', sans-serif;
}

#blog a{
	color: black;
}










